<!DOCTYPE HTML>
<html lang="en" ng-app>
<head>
	<title>{{ user.name }} | Visiting Card</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  
  <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">

<style>

	.sidebar-p
	{
		background-color: #f5f8fa; 
		border-radius: 6px;
		font-family:Arial, Helvetica, sans-serif; 
		color:#3E3E3E; 
		font-size:12px; 
		font-style:normal; 
	}

.card-main
{

}
</style>

</head>

<body ng-init="
user.name= 'Tanay Pant'; 
user.designation= 'White Hat'; 
user.email= 'tanay1337@gmail.com'; 
user.link1= 'cyberwizards.org'; 
user.tusername='tanay1337'; 
user.companylogo= 'http://i.imgur.com/JObOXRt.png'; 
user.color1= '#dcdcdc'; 
user.color2= 'white'; 
user.textcolor1= '#287cc2'; 
user.textcolor2= '#666'" >

	<nav id="header" class="navbar navbar-default" role="navigation">

    <div id="header_left" class="navbar-brand" title="Angular Card Generator">
	<label for="Angular Card Generator">
      <span style="font-size:20px;">
        <strong>
          ACG
        </strong>
      </span>
      Angular Card Generator
	</label>
    </div>


	
  </nav>

<div class="nav navbar-nav side-nav" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                      <li>
                            <a href="javascript:tblHideShow2('Div1' ,'0')" id="more1"><i class="fa fa-user fa-fw"></i> Full Name</a>
                            <div id="Div1"  style="display:none;">
                              <p class="sidebar-p">
                                Full Name: <input type="text" ng-model="user.name" placeholder="Full Name" /><br>          
                              </p>
                            </div>                            
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div2' ,'0')" id="more1"><i class="fa fa-star fa-fw"></i> Designation</a>
                            <div id="Div2"  style="display:none;">
                              <p class="sidebar-p">
                                Designation: <input type="text" ng-model="user.designation" placeholder="Designation" /><br>
                              </p>
                            </div>  
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div3' ,'0')" id="more1"><i class="fa fa-comment fa-fw"></i> Email-Id</a>
                            <div id="Div3"  style="display:none;">
                              <p class="sidebar-p">
                                Email-ID: <input type="text" ng-model="user.email" placeholder="Email-ID" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div4' ,'0')" id="more1"><i class="fa fa-hand-o-right fa-fw"></i> Personal Link-1</a>
                            <div id="Div4"  style="display:none;">
                              <p class="sidebar-p">
                                http://<input type="text" ng-model="user.link1" placeholder="Personal Link-1" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div5' ,'0')" id="more1"><i class="fa fa-hand-o-right fa-fw"></i> Personal Link-2</a>
                            <div id="Div5"  style="display:none;">
                              <p class="sidebar-p">
                                Personal Link-2: <input type="text" ng-model="user.link2" placeholder="Personal Link-2" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div6' ,'0')" id="more1"><i class="fa fa-twitter fa-fw"></i> Twitter Username</a>
                            <div id="Div6"  style="display:none;">
                              <p class="sidebar-p">
                                https://www.twitter.com/<input type="text" ng-model="user.tusername" placeholder="Twitter Username" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div7' ,'0')" id="more1"><i class="fa fa-picture-o fa-fw"></i> Company Logo</a>
                            <div id="Div7"  style="display:none;">
                              <p class="sidebar-p">
                                Company Logo: <input type="text" ng-model="user.companylogo" placeholder="Company Logo URL" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div8' ,'0')" id="more1"><i class="fa fa-qrcode fa-fw"></i> Card Color</a>
                            <div id="Div8"  style="display:none;">
                              <p class="sidebar-p">
                                Card Color1: <input type="color" ng-model="user.color1" placeholder="Card Color1" /><br>
                              </p>
							<p class="sidebar-p">
                                Card Color2: <input type="color" ng-model="user.color2" placeholder="Card Color2" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div9' ,'0')" id="more1"><i class="fa fa-angle-right fa-fw"></i> Text Color-1</a>
                            <div id="Div9"  style="display:none;">
                              <p class="sidebar-p">
                                Text-Color 1: <input type="color" ng-model="user.textcolor1" placeholder="Text-Color 1" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div10' ,'0')" id="more1"><i class="fa fa-angle-right fa-fw"></i> Text Color-2</a>
                            <div id="Div10"  style="display:none;">
                              <p class="sidebar-p">
                                Text-Color 2: <input type="color" ng-model="user.textcolor2" placeholder="Text-Color 2" /><br>
                              </p>
                            </div> 
                        </li>

                    </ul>
                  </div>
                </div>
	<center>
	<div style="
background: -webkit-linear-gradient(top, {{ user.color1 }} , {{ user.color2 }}); 
background: -o-linear-gradient(top,{{ user.color1 }}, {{ user.color2 }});
background: -moz-linear-gradient(top,{{ user.color1 }}, {{ user.color2 }}); 
background: linear-gradient(top,{{ user.color1 }}, {{ user.color2 }});


color:{{ user.textcolor1 }};
border: 1px solid #287cc2;
font-weight:lighter;
width: 480px; 
margin-top:60px;
box-shadow: 0px 0px 10px rgb(17, 17, 17);" >
        <br>
        <table>
        	<tr>
          		<td align="center">
      					<img ng-src="{{ user.companylogo }}" style="width: 50; height: 50;">
      				<br>
          		</td>
          
          		<td style="line-height:0.85;padding-right:20px;font-size:19px">
      				{{ user.name }}
            		<br>
      
      				<span style="color:{{ user.textcolor2 }};font-size:16px;" align="right">{{ user.designation }}</span><br><br>
                   	<table style="table-layout: fixed;">
              			
              <tr>
                <td style="color:{{ user.textcolor2 }};font-size:16px;line-height:1;padding-right:0px;">
                  <span style="color:{{ user.textcolor2 }};font-size:14px;line-height:1;"><a href="mailto:{{ user.email }}" class="" >{{ user.email }}</a></span><br>
 				  <span style="color:{{ user.textcolor2 }};font-size:14px;line-height:1;"><a href="http://{{ user.link1 }}" class=""  target="_blank">{{ user.link1 }}</a></span><br>
 				  <span style="color:{{ user.textcolor2 }};font-size:14px;line-height:1;"><a href="{{ user.link2 }}" class=""  target="_blank">{{ user.link2 }}</a></span><br><br>
				  
              	  
		<span style="color:{{ user.textcolor1 }};font-size:18px"><a href="https://www.twitter.com/{{ user.tusername }}" style="text-decoration:none;" target="_blank" ><i class="fa fa-twitter fa-fw"></i> @{{ user.tusername }}</a></span><br>
           
              			<br><br><br>
           
                </td>
              </tr>
            </table>
           </td>
        </tr>
      </table>

    </div>


    </center>
	
	
  <div id="footer" style="opacity: 0.8; position:absolute; left:0px; bottom:0px; height:20px; width:100%; background-color: #ffffff;">
    <div id="footer_left" style="color: #000000; float: center; width: 70%; margin-left: 10%; font-family: 'Arimo', sans-serif;">
      <font size="2px">
        Copyright &copy; 2014 Tanay Pant. All rights reserved.
      </font>
    </div>
  </div>
    
	<script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/common.js"></script>
</body>
</html>
