<!DOCTYPE HTML>
<html lang="en" ng-app>
<head>
	<title>{{ user.name }} | Visiting Card</title>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link href="bower_components/bootstrap/dist/css/bootstrap.css" rel="stylesheet">
  
  <link href="bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body ng-init="user.name= 'Tanay Pant'; user.designation= 'White Hat'; user.email= 'tanay1337@gmail.com'; user.link1= 'http://cyberwizards.org/'; user.tusername='@tanay1337'; user.companylogo= 'http://i.imgur.com/JObOXRt.png'; user.color= 'white'; user.textcolor1= '#287cc2'; user.textcolor2= '#666'">

	<nav id="header" class="navbar navbar-default" role="navigation">

    <div id="header_left" class="navbar-brand">
      <font size="5px">
        <strong>
          ACG
        </strong>
      </font>
      Angular Card Generator
    </div>


	
  </nav>

<div class="nav navbar-nav side-nav" role="navigation">
                <div class="sidebar-collapse">
                    <ul class="nav" id="side-menu">
                      <li>
                            <a href="javascript:tblHideShow2('Div1' ,'0')" id="more1"><i class="fa fa-user fa-fw"></i> Full Name</a>
                            <div id="Div1"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Full Name: <input type="text" ng-model="user.name" placeholder="Full Name" /><br>          
                              </p>
                            </div>                            
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div2' ,'0')" id="more1"><i class="fa fa-star fa-fw"></i> Designation</a>
                            <div id="Div2"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Designation: <input type="text" ng-model="user.designation" placeholder="Designation" /><br>
                              </p>
                            </div>  
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div3' ,'0')" id="more1"><i class="fa fa-comment fa-fw"></i> Email-Id</a>
                            <div id="Div3"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Email-ID: <input type="text" ng-model="user.email" placeholder="Email-ID" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div4' ,'0')" id="more1"><i class="fa fa-hand-o-right fa-fw"></i> Personal Link-1</a>
                            <div id="Div4"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Personal Link-1: <input type="text" ng-model="user.link1" placeholder="Personal Link-1" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div5' ,'0')" id="more1"><i class="fa fa-hand-o-right fa-fw"></i> Personal Link-2</a>
                            <div id="Div5"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Personal Link-2: <input type="text" ng-model="user.link2" placeholder="Personal Link-2" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div6' ,'0')" id="more1"><i class="fa fa-twitter fa-fw"></i> Twitter Username</a>
                            <div id="Div6"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Twitter Username: <input type="text" ng-model="user.tusername" placeholder="Twitter Username" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div7' ,'0')" id="more1"><i class="fa fa-picture-o fa-fw"></i> Company Logo</a>
                            <div id="Div7"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Company Logo: <input type="text" ng-model="user.companylogo" placeholder="Company Logo URL" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div8' ,'0')" id="more1"><i class="fa fa-qrcode fa-fw"></i> Card Color</a>
                            <div id="Div8"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Card Color: <input type="text" ng-model="user.color" placeholder="Card Color" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div9' ,'0')" id="more1"><i class="fa fa-angle-right fa-fw"></i> Text Color-1</a>
                            <div id="Div9"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Text-Color 1: <input type="text" ng-model="user.textcolor1" placeholder="Text-Color 1" /><br>
                              </p>
                            </div> 
                        </li>
                        <li>
                            <a href="javascript:tblHideShow2('Div10' ,'0')" id="more1"><i class="fa fa-angle-right fa-fw"></i> Text Color-2</a>
                            <div id="Div10"  style="display:none; background-color: #f5f8fa; border-radius: 6px;">
                              <p style="font-family:Arial, Helvetica, sans-serif; color:#3E3E3E; font-size:12px; font-style:normal ">
                                Text-Color 2: <input type="text" ng-model="user.textcolor2" placeholder="Text-Color 2" /><br>
                              </p>
                            </div> 
                        </li>

                    </ul>
                  </div>
                </div>
	<center>
	<div style="background-color:{{ user.color }};color:{{ user.textcolor1 }};border: 1px solid #287cc2;font-weight:lighter;width: 480px; margin-top:60px;box-shadow: 0px 0px 10px rgb(17, 17, 17);">
        <br>
        <table>
        	<tr>
          		<td align="center">
      					<img ng-src="{{ user.companylogo }}" style="width: 50; height: 50;">
      				<br>
          		</td>
          
          		<td style="line-height:0.85;padding-right:20px;font-size:19px">
      				{{ user.name }}
            		<br>
      
      				<span style="color:{{ user.textcolor2 }};font-size:16px;" align="right">{{ user.designation }}</span><br><br><br>
                   	<table style="table-layout: fixed;">
              			
              <tr>
                <td style="color:{{ user.textcolor2 }};font-size:16px;font-style:italic;line-height:1;padding-right:0px;">
                  <span style="color:{{ user.textcolor2 }};font-size:14px;line-height:1;font-style:italic;">{{ user.email }}</span><br>
 				  <span style="color:{{ user.textcolor2 }};font-size:14px;line-height:1;font-style:italic;">{{ user.link1 }}</span><br>
 				  <span style="color:{{ user.textcolor2 }};font-size:14px;line-height:1;font-style:italic;">{{ user.link2 }}</span><br><br>
				  <span style="color:{{ user.textcolor2 }};font-size:18px">Twitter:</span>
              	  <span style="color:{{ user.textcolor1 }};font-size:18px"> {{ user.tusername }}</span>
           
              			<br><br><br>
           
                </td>
              </tr>
            </table>
           </td>
        </tr>
      </table>

    </div>


    </center>
	
	
  <div id="footer" style="opacity: 0.8; position:absolute; left:0px; bottom:0px; height:20px; width:100%; background-color: #ffffff;">
    <div id="footer_left" style="color: #000000; float: center; width: 70%; margin-left: 10%; font-family: 'Arimo', sans-serif;">
      <font size="2px">
        Copyright &copy; 2014 Tanay Pant. All rights reserved.
      </font>
    </div>
  </div>
    
	<script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/common.js"></script>
</body>
</html>